<!DOCTYPE html>
<html>

<head>
    <title>Test for GTF</title>
</head>

<body>
    <form action="" method="post" id="form-itmes">
        <p>
            <input type="text" placeholder="Add items to list" id="new-item">
            <button id="add">Add</button>
        </p>
        <ul id="items"></ul>
        <p id="items-number"></p>
        <script type="text/template" id="items-tmp">
            <li>{{ item }}
                <button data-id="{{ id }}">delete</button>
            </li>
        </script>
        <script type="text/template" id="items-number-tmp">
            <p>{{ len }} in list</p>
        </script>
    </form>

    <script src="js/base.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
